.outer-mini {
    min-width: unset;
    border-radius: var(--border-medium-100);
}


.inner-mini {
    justify-content: center;
    text-align: center;
}

.title {
    font-size: var(--font-140);
}

.description {
    font-size: 20px;
}

.inactive {
    filter: grayscale(1);
    color: rgb(93, 93, 93);

    .outer-mini {
        cursor: not-allowed;
    }

    .inner-mini {
        background-color: rgb(196, 196, 196);
    }
}