.outer-mini {
    min-width: unset;
    border-radius: var(--border-medium-100);
}


.inner-mini {
    justify-content: center;
    text-align: center;
}

.title {
    font-size: 22px;
}

.description {
    font-size: 20px;
}