.article-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium-150);
    border: var(--size-small-100) solid #989595 ;
    border-radius: var(--border-small-400);
    padding: var(--spacing-small);

    h3 {
        margin: unset;
    }
}