.activite-tache-section {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "activite content"
        "tache content";
    background-color: #DEDEDE;
    border-radius: var(--spacing-mini);
}

.activite{
    grid-area: activite;
    align-items: flex-end;
    border-radius: var(--spacing-mini) 0 0 0;
}

.tache{
    grid-area: tache;
    align-items: flex-start;
    border-radius: 0 0 0 var(--spacing-mini);
}

.activite, .tache {
    display: flex;
    justify-content: center;
    background-color: #D9AD1E;
    font-size: 20px;
    font-weight: 700;
    padding: 0 var(--spacing-mini);
}

.activite-tache-content {
    grid-area: content;
    display: flex;
    align-items: center;
    padding: var(--spacing-mini);
}