.outer-card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium-100);
    background-color: #ECBB21;
    min-width: var(--card-min-width); // = 320-(2x10 padding)
    max-width: var(--card-max-width);
    aspect-ratio:  375 / 667 ;
    padding: var(--spacing-medium-100);
    border-radius: var(--border-large-200);
    cursor: grab;

    .inner-card {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-medium-150);
        background-color: white;
        border-radius: var(--border-medium-100);
        padding: var(--spacing-medium-150) var(--spacing-medium-100);

        .wrapper-resultat {
            flex: 1;
        }
    }
}