.pole-tag-section {
    display: flex;
    align-items: center;
    background-color: #DEDEDE;
    text-align: center;
    padding: var(--spacing-medium-150) var(--spacing-medium-100);
    border-radius: var(--border-small-400);
}