.tile {
    display: flex;
    gap: var(--spacing-small);

    .side-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #D9D9D9;
        min-width: var(--size-medium-300);
        border-radius: var(--border-small-400);
    }
    
    .thumb-icon {
        width: var(--size-medium-200);
    }
}

.top {
    height: var(--size-medium-300);
}
