.article-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    border: 1px solid #989595 ;
    border-radius: var(--spacing-mini);
    padding: var(--spacing-mini);

    h3 {
        margin: unset;
    }
}