:root {
  // globally used CSS variables
  // Spacing
  --spacing-mini: 4px;
  --spacing-medium-100: 8px;
  --spacing-medium-150: 14px;

  font-family: Ubuntu, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(43, 43, 43);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

h1 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
  line-height: 100%;
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
  line-height: 100%;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}

p {
  margin: unset;
}

.bold-p {
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}