:root {
  // globally used variables
  // Spacing
  --spacing-small: 4px;
  --spacing-medium-100: 8px;
  --spacing-medium-150: 14px;
  --spacing-medium-200: 20px;
  // Font-size
  --font-140: clamp(0.75rem, 4vw, 1.375rem); // 5vw = 16px
  --font-160: clamp(1rem, 5vw, 1.375rem); // 5vw = 16px
  --font-200: clamp(1.25rem, 6.25vw, 1.7rem); // 6.25vw = 20px
  // Border radius
  --border-small-400: 4px; // 1.25vw
  --border-medium-100: 8px; // 2.5vw
  --border-large-200: 20px; // 6.25vw
  // Size
  --size-small-100: clamp(0.063rem, 0.313vw, 0.125rem); // 0.313vw = 1px;
  --size-medium-200: clamp(1.438rem, 7.188vw, 2rem); // 7.188vw = 23px
  --size-medium-300: clamp(2rem, 10vw, 2.75rem); // 10vw = 32px
  // Card dimension
  --card-min-width: 300px;
  --card-max-width: 440px;

  //color
  --echo-orange: #FFB300;
  --echo-dark: #213547;
  --enseignement-pro: #ECBB21;


  font-family: Ubuntu, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(43, 43, 43);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: var(--echo-dark);
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: var(--echo-dark);
//     background-color: #ffffff;
//   }
// }

h1 {
  font-size: var(--font-200);
  text-transform: uppercase;
  margin: 0;
  line-height: 100%;
}

h2 {
  font-size: var(--font-200);
  text-transform: uppercase;
  margin: 0;
  line-height: 100%;
}

h3 {
  font-size: var(--font-160);
  font-weight: 500;
  line-height: 100%;
}

p {
  font-size: var(--font-160);
  margin: unset;
  line-height: 100%;
}

.bold-p {
  font-weight: 500;
  line-height: 100%;
}